h1 {
    text-align: center;
    color: rgb(161, 39, 41);
}


h3 {
    text-align: center;
    color: rgb(161, 39, 41);
}

.hole-container {
    width: 430px;
    height: 430px;
    margin: 50px auto;
}

.hole {
    border: 1px solid rgb(161, 39, 41);
    /*border-radius: 50%;*/
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.x {
   background: url(X_mark_black.jpg); 
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   margin:10px;
   /*background-color: blue;*/
}

.o {
  background: url(O_mark_red.png); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}