<!DOCTYPE html>
<html ng-app="TicTacToeApp">
	<head>
		<meta charset="utf-8">
		<title>TicTacToe!</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/styles.css">
        <!-- Angular --> <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
		<!-- Firebase --> <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script> 
		<!-- AngularFire --> <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script> 
		<!-- our Angular Module --> <script src="js/app.js"></script>
		<!-- our Angular Controller --> <script src="js/TicTacToeController.js"></script>
	</head>
	<body>
        <div class="hole-container" ng-controller="TicTacToeController as main">
            <h1>TicTacToe</h1>
            <h3>{{ main.message }}</h3>
            <div ng-repeat="hole in main.holes track by $index" 
            ng-click="main.playerTurn($index)" 
            ng-class="{x: hole.xIsHere, o: hole.oIsHere}" class="hole">
            </div>
            <button ng-click="main.reset()"> Reset </button>
        </div>
	</body>
</html>


<!-- <div ng-repeat="cell in game.gameBoard track by $index"   ng-click="game.theory( $index )" ng-class="{hole: true, xturn: cell.isPlayed}";></div> -->